*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff000;
}

.calendar{
    width: 450px;
    height: 230px;
    background-color: #fff;
    /* padding: 20px 0; */
    /* box-shadow: 2px 0px 0px .5px; */
    border-radius: 10px;
}
.month{
    background-color: blue;
    padding: 10px 0;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.day{
    font-size: 20px;
}
.day-number{
    font-size: 60px;
    font-weight: bold;
    margin: 15px 0;
}
.year{
    font-size: 25px;
}
